//
//  Config.xcconfig
//  knot
//
//  Created by Peter Anyaogu on 2/4/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
#include "Secrets.xcconfig"
RELAY_PROXY_BASE_URL = relay.knot.fi
UPLOAD_PROXY_BASE_URL = upload.knot.fi

// Chain support mode (active default for now)
CHAIN_SUPPORT_MODE = LIMITED_TESTNET

// Comma-separated chain ids
SUPPORTED_CHAINS_LIMITED_TESTNET = 11155111,84532,421614
SUPPORTED_CHAINS_LIMITED_MAINNET = 1,42161,8453,137,143
SUPPORTED_CHAINS_FULL_MAINNET = 1,10,137,8453,42161,143
