<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GELATO_API_KEY</key>
	<string>$(GELATO_API_KEY)</string>
	<key>PIMLICO_API_KEY</key>
	<string>$(PIMLICO_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
		<string>Roboto-ExtraLight.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>RobotoCondensed-Black.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-ExtraBold.ttf</string>
		<string>RobotoCondensed-ExtraLight.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-Medium.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>RobotoCondensed-SemiBold.ttf</string>
		<string>RobotoCondensed-Thin.ttf</string>
		<string>RobotoFlex-VariableFont.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-ExtraLight.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-SemiBold.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
